@model IEnumerable<LibraryWeb.Models.Book>
@using static LibraryWeb.Models.Loan
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Book List";
}

<h1>Book List</h1>

@if (signInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            @if (signInManager.IsSignedIn(User))
            {
                <th></th>
            }
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @if (signInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-primary" asp-controller="Loans" asp-action="Create">Check Out</a>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEditUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditDate)
                </td>
                <td>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>

                    }


                </td>
            </tr>
        }
    </tbody>
</table>
